<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dawson.aaaccount">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AAAccountApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TranslucentTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dawson.aaaccount.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <!-- QQ登录 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="101412765" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/TranslucentTheme" />
        <activity
            android:name=".activity.RegistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FamilyActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.EditFamilyActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.ScanCodeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:theme="@style/TranslucentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BaseSimpleSelectActivity" />
        <activity android:name=".activity.FamilyQRCodeActivity" />
        <activity android:name=".activity.EditDayBookActivity" />
        <activity android:name=".activity.EditUserActivity" />
        <activity android:name=".activity.PreviewPictureActivity" />
        <activity android:name=".activity.BaseFilterActivity" />
        <activity android:name=".activity.SettleActivity" />
        <activity android:name=".activity.SettleListActivity" />
        <activity android:name=".activity.FamilyMemberActivity" />
        <activity android:name=".activity.StatisticsActivity" />
        <activity android:name=".activity.FeedBackActivity" />
        <activity android:name=".activity.FeedbackListActivity"></activity>
    </application>

</manifest>